h1{
  font-size: 20px;
}

.box{
  border:#eee 1px solid;
  height:300px;
  width:600px;
  margin: 0 auto;
  padding: 20px 50px;
  font-size:30px;
}

.box p{
  /*color:#dddd00;*/
  font-size: 12px;
  margin:0 0 10px 0;

}
.box p a{
  text-decoration: none;
}

.hello{border-top: #ccc 1px solid;
  padding-top:20px;
}
.button{
  text-align: center;
  height: 30px;
}
.button span{
  border: #ccc 1px solid;
  padding:10px;background: #4183C4;
  color: #fff;
}
